{
  "input_file_pattern": "\\d+\\.jpe?g",
  "prompts": {
    "beach standing": "generate a picture using the picture provided, a women standing at Carribean beach carring the bag.",
    "beach sitting": "generate a picture using the picture provided, a women sitting at Carribean beach carring the bag.",
    "pool standing": "generate a picture using the picture provided, a women standing by a infinity pool carring the bag."
  },
  "combos": {
    "test": "beach standing",
    "beach combo": "beach standing,beach sitting",
    "standing combo": "beach standing,pool standing"
  }
}